<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1034232662194-6jlbmp860p7r0ng5da0egpmgvglfpcf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1034232662194-6jlbmp860p7r0ng5da0egpmgvglfpcf6</string>
	<key>API_KEY</key>
	<string>AIzaSyDi76dX9lWNVrpUnxgKbJr5T5VBS0pDnx8</string>
	<key>GCM_SENDER_ID</key>
	<string>1034232662194</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petApp</string>
	<key>PROJECT_ID</key>
	<string>pet-app-fd9d6</string>
	<key>STORAGE_BUCKET</key>
	<string>pet-app-fd9d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1034232662194:ios:a20b10774efbc2aa2e61ab</string>
</dict>
</plist>